@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@700&display=swap");


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  height: 100vh;
  font-family: 'Sometype Mono', monospace;
}

@media (max-width: 768px){
  .miBoton{
    width: 100%;
  }
}

.error-msg{
  color: red;
  font-size: 12px;
  font-weight: 600;
}